<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Salinas Dev</title>
</head>

<body>

    <h1>Configuración David Salinas</h1>
    <div class="" id="app">
    </div>
    {{!-- Hola --}}
    <img src="./assets/img/hero.jpg" id="imagen" alt="Imagen desde javaScript">
    <a href="#">Nosotros</a>


</body>

</html>